.my-channels-container {
  margin-top: 120px;
  margin-bottom: 60px;
  margin-left: 150px;
  width: 75%;
}

.my-channels-container .my-channels-title {
  border-bottom: 1px solid #FB6542;
  font-size: 24px;
  margin-bottom: 15px;
  width: 100%;
  font-size: 3em;
}

.my-channels-container .channel-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
