.my-channels-container {
  margin-top: 60px;
  margin-left: 10%;
  margin-right: 10%;
}

.my-channels-container .channel-list {
  display: flex;
  flex-wrap: wrap;
}

.my-channels-container .channel-list .channel-comp-container {
  flex-basis: 23%;
  margin-left: 5px;
  margin-right: 5px;
}

