.channel-comp-container {
  border: 4px solid #cecece;
  border-radius: 10px;
  width: 20%;
  height: 200px;
  margin-top: 30px;
}

.channel-comp-container a {
  text-decoration: none;
}

.channel-comp-container .channel-background {
  width: 100%;
  height: 50%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.channel-comp-container .channel-name {
  font-weight: 600;
  font-size: 2em;
  padding: 5px;
}

.channel-comp-container .channel-posts-num {
  font-weight: 600;
  padding: 5px;
}

.channel-comp-container .channel-subs {
  font-weight: 600;
  padding: 5px;
}
