@import "/css/shared-components/Comment.css";

.post-container {
  margin-top: 30px;
  padding: 10px;
  text-align: justify;
  border: 3px solid #fb6542;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

.post-container .post-header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.post-container .post-header .post-votes {
  display: grid;
  align-items: center;
  grid-template-columns: [arrows]1fr [votes]2fr [end];
  grid-template-rows: [up]auto [down]auto [end];
}

.post-container .post-header .post-votes .vote-arrow-link:nth-of-type(1) {
  grid-column-start: arrows;
  grid-column-end: votes;
  grid-row-start: up;
  grid-row-end: down;
}

.post-container .post-header .post-votes .vote-arrow-link:nth-of-type(1):hover .vote-arrow-icon {
  fill: green;
}

.post-container .post-header .post-votes .vote-arrow-link:nth-of-type(2) {
  grid-column-start: arrows;
  grid-column-end: votes;
  grid-row-start: down;
  grid-row-end: end;
}

.post-container .post-header .post-votes .vote-arrow-link:nth-of-type(2):hover .vote-arrow-icon {
  fill: red;
}

.post-container .post-header .post-votes .vote-arrow-link .vote-arrow-icon {
  width: 30px;
  height: 30px;
}

.post-container .post-header .post-votes .votes-num {
  grid-column-start: votes;
  grid-column-end: end;
  grid-row-start: up;
  grid-row-end: end;
  margin-left: 10px;
}

.post-container .post-header .post-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #fb6542;
}

.post-container .post-header .user {
  display: flex;
  align-items: center;
  margin-left: 5%;
  width: 25%;
  text-decoration: none;
}

.post-container .post-header .user .user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.post-container .post-header .user .username {
  margin-left: 10%;
}

.post-container .post-header .post-date {
  margin-left: 5%;
}

.post-container .post-comments-num {
  margin-top: 1%;
  font-size: 14px;
}

.post-container .show-comments-btn {
  text-align: center;
}

.post-container .show-comments-btn .comments-btn-text {
  font-size: 18px;
  font-weight: 600;
}

.post-container .show-comments-btn .comments-btn-arrow {
  width: 20px;
  height: 20px;
}
