body > header {
  background-color: #FFB74D;
}

body > header > h1 {
  color: #E65100;
  text-align: center;
}

body > header > h1 > a {
  color: #E65100;
}

body > header > h1 > a:visited {
  color: #E65100;
}

body > header > h2 {
  color: #E65100;
  font-weight: 900;
  text-align: center;
}

body > header > img {
  vertical-align: middle;
}
