.comments-section-container {
  padding: 10px;
  text-align: justify;
  margin-left: 5%;
  width: 100%;
}

.comments-container {
  text-align: justify;
}

.comments-title {
  font-size: 20px;
  color: #fb6542;
  text-decoration: underline;
}
