.login-box {
  /*background-color: #FB6542;*/
  border: 2px solid #FB6542;
  width: 20%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  color: #FB6542;
}

.login-box h2 {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
}

.login-box h3 {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: bold;
}

.login {
  width: 75%;
  display: block;
  margin: 5px auto 40px auto;
  padding-bottom: 5px;
  border: 1px solid #cecece;
  border-radius: 4px;
}
