.home-container .banner-container {
  height: calc(50vh - 90px);
  width: 100%;
  background-image: url('../../images/lamp.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: table;
}

.home-container .banner-container .content {
  display: table-cell;
  vertical-align: middle;
}

.home-container .banner-container .content .brand-name {
  margin-left: 5%;
  font-size: 5em;
  font-weight: 700;
  color: #fff;
}

.home-container .banner-container .content .brand-slogan {
  margin-left: 5%;
  font-size: 3em;
  font-weight: 400;
  color: #fff;
}
